.contact {
  padding: 88px 0;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  gap: 120px;
}
.tag {
  font-weight: 500;
  font-size: 16px;
  color: #5bccde;
}
.title {
  font-weight: 700;
  font-size: 36px;
  color: #486a6f;
  line-height: 48px;
  margin: 0;
  margin-top: 13px;
  margin-bottom: 110px;
}
.contact-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px
}
.form {
    filter: drop-shadow(0px 30px 60px rgba(59, 130, 246, 0.25));
    background: linear-gradient(42.43deg, #C6DBFF 0%, #E1EBFA 52.25%);
    border-radius: 5px;
    flex: 1
}
.details {
    flex: 1;
}