.container {
  display: flex;
  align-items: center;
  gap: 28px;
}
.img {
  position: relative;
  width: 70px;
  height: 70px;
}
.title {
  font-weight: 500;
  font-size: 16px;
  color: #486a6f;
  margin: 0;
  margin-top: 8px;
}
.text {
  font-weight: 700;
  font-size: 20px;
  color: #486a6f;
  margin: 0;
  max-width: 200px;
}
