.container {
  position: relative;
  z-index: 1;
  display: flex;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
  gap: 48px;
}
.details {
  flex: 3;
  align-self: center;
}
.images {
  flex: 4;
  height: 100%;
}

.firstrow {
  display: flex;
  gap: 36px;
  padding-right: 18px;
  padding-left: 18px;
  margin-bottom: 40px;
}
.small-img {
  align-self: flex-end;
}
.secondrow {
  display: flex;
  gap: 36px;
}
.secondrow-img {
  align-self: flex-start;
}
.title {
  font-size: 64px;
  line-height: 80px;
  margin: 0;
  margin-bottom: 20px;
  background: linear-gradient(
      104.24deg,
      rgba(72, 106, 111, 0.2) 42.78%,
      rgba(91, 204, 222, 0.2) 91.91%
    ),
    #486a6f;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.text {
  font-size: 22px;
  line-height: 36px;
  color: #678c92;
  margin-bottom: 100px;
}
.btn,
.btn-secondary {
  background: linear-gradient(
      104.26deg,
      rgba(67, 151, 164, 0.2) 0.88%,
      rgba(91, 204, 222, 0.2) 99.89%
    ),
    #4397a4;
  box-shadow: 0px 30px 60px rgba(59, 130, 246, 0.25);
  border-radius: 5px;
  padding: 20px 27px;
  border: none;
  color: #f4f7ff;
}
.btn-secondary {
  background: #c6dbff;
  color: #486a6f;
  font-weight: 700;
  font-size: 16px;
}
.btns {
    display: flex;
    gap: 16px;
}
