
.container {
    flex: 1
}
.img {
  box-shadow: 0px 30px 60px rgba(59, 130, 246, 0.25);
  border-radius: 5px;
}
.title {
  color: #486a6f;
  font-weight: 700;
  font-size: 24px;
}
.text {
  font-weight: 500;
  font-size: 16px;
  color: #678c92;
  max-width: 268px;
}
